<ul class="nav nav-pills">
  <li role="presentation" ng-class="{active: tabs.path=='nodes'}"><a href="#!/nodes">格点</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='fix_nodes'}"><a href="#!/fix_nodes">支点</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='members'}"><a href="#!/members">部材</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='panels'}"><a href="#!/panels">パネル</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='elements'}"><a href="#!/elements">材料</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='joints'}"><a href="#!/joints">結合</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='notice_points'}"><a href="#!/notice_points">着目点</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='fix_members'}"><a href="#!/fix_members">バネ</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='loads'}"><a href="#!/loads">荷重</a></li>
  <li role="presentation" ng-class="{active: tabs.path=='combines'}"><a href="#!/combines">組合せ</a></li>

</ul>
