<section class="loads">
    <h2>loads</h2>

    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: tabs.path=='load_names'}"><a href="#!/load_names">荷重名称</a></li>
        <li role="presentation" ng-class="{active: tabs.path=='loads'}"><a href="#!/loads">荷重強度</a></li>
    </ul>

    <div class="ht-container">
        <hot-table hot-id="load_names" option='ngPopupConfig' settings="ctrl.settings" datarows="ctrl.load_names" ht-resizable>
        </hot-table>
    </div>

</section>